<div class="pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>About Me</h2>
        <p class="pr-5 text-white-50">
          Hi, I'm Munisha Choudhary, a dedicated FrontEnd Developer with a passion
          for building dynamic and responsive web applications. Explore my
          portfolio to see some of my latest projects and learn more about my
          skills and experience.
        </p>
        <p>
          <a href="https://www.facebook.com/profile.php?id=100073307904435&mibextid=ZbWKwL">
            <fa-icon [icon]="faFacebookSquare"></fa-icon></a>
            <a href="https://www.linkedin.com/in/munisha-choudhary-506336223?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="mx-2"><fa-icon [icon]="faLinkedin"></fa-icon></a>
          <a href="https://www.instagram.com/munishachoudhary79?igsh=d3gwdDYzZ29rY3ow"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <a href="../landing-page">Home</a>
          <br>
          <a href="../tech-text">Text-Tech</a>
          <br>
          <a href="../learning">Learning</a>
          <br>
           <a href="../login">Sign out</a>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>#366 , PWT , Sector-13, Chandigarh</p>
        <p class="mb-0">
          <fa-icon [icon]="faPhone" class="me-2"></fa-icon>9015225267
        </p>
        <p>
          <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon
          >munishachoudhary15&commat;gmail.com
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class="">
          <small class="text-white-50">© 2024. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</div>
