<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>1st sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                Mathematics-I
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Mathematics-1 is an introductory college course covering
                algebra, functions, trigonometry, calculus basics, analytic
                geometry, sequences, series, vectors, and complex numbers. It
                aims to build fundamental problem-solving skills and prepare
                students for advanced studies in science.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Chemistry
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Chemistry is the scientific discipline focused on understanding
                the properties, composition, and behavior of substances. It
                explores the structure of atoms and molecules, the interactions
                between different types of matter, and the transformations that
                occur during chemical reactions. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                English
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                English courses in college focus on literature, language, and
                writing, exposing students to various literary works like
                novels, poetry, and plays. Through analysis and interpretation,
                students develop critical thinking and communication skills.
                These courses also emphasize grammar, vocabulary, and writing
                styles to enhance written and verbal expression.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Programming for Problem Solving
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Programming for Problem Solving" is a foundational college
                course introducing programming concepts and problem-solving
                methodologies. Students learn to code in languages like Python,
                Java, or C++, mastering algorithm design, data structures, and
                modular programming. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>2nd sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Mathematics-II
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Mathematics-II is an advanced college course building on
                concepts from Mathematics-I, focusing on more complex topics. It
                typically includes advanced calculus (such as multivariable
                calculus and partial derivatives), differential equations,
                linear algebra (matrices, determinants, vector spaces), and
                sometimes introduces concepts from probability and statistics.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Basic Electric Engineering
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Basic Electrical Engineering is an introductory course that
                covers fundamental concepts of electrical circuits, including
                Ohm's Law, Kirchhoff's laws, and circuit analysis techniques.
                Students learn about AC and DC circuits, electrical power and
                energy, and the principles of electromagnetism.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Enginnering Graphics and Design
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              aria-labelledby="headingSeven"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Engineering Graphics and Design is an introductory course that
                teaches the principles of technical drawing and computer-aided
                design (CAD). Students learn to create and interpret engineering
                drawings, including orthographic projections, isometric views,
                and sectional views.Additionally, students gain proficiency in CAD software to
                create precise and detailed engineering designs. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                Physics
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              aria-labelledby="headingEight"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Physics is a foundational college course that explores the
                principles governing the natural world. Key topics include
                mechanics (motion, forces, energy, and momentum),
                electromagnetism,thermodynamics, waves and optics (sound,
                light, and wave behavior), and modern physics (quantum mechanics
                and relativity). 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>3rd sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseNine"
                aria-expanded="false"
                aria-controls="collapseNine"
              >
                Mathematics-III
              </button>
            </h2>
            <div
              id="collapseNine"
              class="accordion-collapse collapse"
              aria-labelledby="headingNine"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Mathematics-III is an advanced college course that extends
                concepts from previous mathematics courses, often focusing on
                topics like complex analysis, partial differential equations,
                and advanced linear algebra. It may also cover numerical methods
                for solving mathematical problems, vector calculus, and Fourier
                series.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTen"
                aria-expanded="false"
                aria-controls="collapseTen"
              >
                Data Structures and Algorithms
              </button>
            </h2>
            <div
              id="collapseTen"
              class="accordion-collapse collapse"
              aria-labelledby="headingTen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Data Structures and Algorithms (DSA) is a crucial computer
                science course that covers fundamental data structures such as
                arrays, linked lists, stacks, queues, trees, and graphs. It also
                explores algorithmic techniques for sorting, searching, and
                manipulating data efficiently. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEleven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEleven"
                aria-expanded="false"
                aria-controls="collapseEleven"
              >
                Object-Oriented Programming
              </button>
            </h2>
            <div
              id="collapseEleven"
              class="accordion-collapse collapse"
              aria-labelledby="headingEleven"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Object-Oriented Programming (OOP) is a computer science course
                that introduces the principles and concepts of object-oriented
                programming. Key topics include classes and objects,
                inheritance, polymorphism, encapsulation, and abstraction.
                Students learn to design and implement software using OOP
                languages like Java, C++, or Python.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwelve">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwelve"
                aria-expanded="false"
                aria-controls="collapseTwelve"
              >
                Digital Electronics
              </button>
            </h2>
            <div
              id="collapseTwelve"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwelve"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Digital Electronics is a foundational course in electronics and
                electrical engineering that focuses on the principles and
                applications of digital circuits. Key topics include binary
                number systems, Boolean algebra, logic gates, combinational and
                sequential circuits, multiplexers, flip-flops, counters, and
                memory devices.  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>4th sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThirteen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThirteen"
                aria-expanded="false"
                aria-controls="collapseThirteen"
              >
                Discrete Mathematics
              </button>
            </h2>
            <div
              id="collapseThirteen"
              class="accordion-collapse collapse"
              aria-labelledby="headingThirteen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Discrete Mathematics is a fundamental course in computer science
                and mathematics that deals with discrete structures rather than
                continuous ones. Key topics include logic and proofs, set
                theory, relations and functions, combinatorics, graph theory,
                and algorithms. Students learn to apply mathematical reasoning
                and problem-solving techniques to various computational and
                real-world problems. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourteen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFourteen"
                aria-expanded="false"
                aria-controls="collapseFourteen"
              >
                Operating Systems
              </button>
            </h2>
            <div
              id="collapseFourteen"
              class="accordion-collapse collapse"
              aria-labelledby="headingFourteen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Operating Systems is a core computer science course that
                explores the design and functionality of operating systems. Key
                topics include process management, memory management, file
                systems, input/output systems, and concurrency. Students learn
                about concepts such as scheduling, synchronization, deadlock,
                and security. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFifteen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFifteen"
                aria-expanded="false"
                aria-controls="collapseFifteen"
              >
                Computer Organisations and Architecture
              </button>
            </h2>
            <div
              id="collapseFifteen"
              class="accordion-collapse collapse"
              aria-labelledby="headingFifteen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Computer Organization and Architecture is a foundational course
                in computer science and engineering that explores the structure
                and functionality of computer systems. Key topics include
                digital logic design, instruction set architecture, and
                parallel processing. Students learn about the relationship
                between hardware and software, computer performance, and design
                principles for efficient and reliable systems.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSixteen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSixteen"
                aria-expanded="false"
                aria-controls="collapseSixteen"
              >
                Design & Analytics of Algorithms
              </button>
            </h2>
            <div
              id="collapseSixteen"
              class="accordion-collapse collapse"
              aria-labelledby="headingSixteen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Design and Analysis of Algorithms is an advanced computer
                science course that focuses on the theory and practice of
                algorithm design and analysis. Key topics include algorithmic
                paradigms such as divide and conquer,and graph algorithms.This course is essential for understanding fundamental principles in computer science and preparing students for careers in software development, data science.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>5th sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeventeen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeventeen"
                aria-expanded="false"
                aria-controls="collapseSeventeen"
              >
                Database Management System
              </button>
            </h2>
            <div
              id="collapseSeventeen"
              class="accordion-collapse collapse"
              aria-labelledby="headingSeventeen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Database Management System (DBMS) is a core computer science
                course that covers the principles and practices of managing
                databases. Key topics include data modeling, relational database
                design, query languages (such as SQL), database normalization,
                indexing.Students learn to design, implement, and administer databases to store,
                retrieve, and manipulate data efficiently.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEighteen">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEighteen"
                aria-expanded="false"
                aria-controls="collapseEighteen"
              >
                Formal Language and Automata Theory
              </button>
            </h2>
            <div
              id="collapseEighteen"
              class="accordion-collapse collapse"
              aria-labelledby="headingEighteen"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Formal Language and Automata Theory is a theoretical computer
                science course that explores mathematical models of computation.
                Key topics include formal languages, grammars, regular
                expressions, finite automata. Students learn to analyze the
                computational power and limitations of various automata models,
                as well as the relationships between different types of
                languages and automata.
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty"
                aria-expanded="false"
                aria-controls="collapseTwenty"
              >
                Computer Networks
              </button>
            </h2>
            <div
              id="collapseTwenty"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Computer Networks is a foundational course in computer science
                and information technology that explores the principles and
                technologies underlying the communication and interaction of
                computer systems. Key topics include network architectures,
                protocols, transmission media, network topologies, routing
                algorithms, and network security.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty-one">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty-one"
                aria-expanded="false"
                aria-controls="collapseTwenty-one"
              >
                Programming in python
              </button>
            </h2>
            <div
              id="collapseTwenty-one"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty-one"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                "Programming in Python" is an introductory course that teaches
                the Python programming language and its applications. Students
                learn the fundamentals of Python syntax, data types, control
                structures, functions, and object-oriented programming
                principles. The course covers topics such as file handling,
                exception handling, and working with libraries and modules.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="sect">
        <div class="sect-1">
          <h3>6th sem</h3>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty-Two">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty-Two"
                aria-expanded="false"
                aria-controls="collapseTwenty-Two"
              >
                Artificial Intelligence
              </button>
            </h2>
            <div
              id="collapseTwenty-Two"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty-Two"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Artificial Intelligence (AI) is an interdisciplinary field of
                computer science that focuses on creating intelligent machines
                capable of performing tasks that typically require human
                intelligence. Key topics in AI include machine learning, natural
                language processing, computer vision, robotics, and expert
                systems.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty-three">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty-three"
                aria-expanded="false"
                aria-controls="collapseTwenty-three"
              >
                Wireless Communication
              </button>
            </h2>
            <div
              id="collapseTwenty-three"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty-three"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Wireless Communication is a branch of electrical engineering and
                computer science that focuses on transmitting and receiving data
                over a wireless medium. Key topics include wireless networking
                technologies, such as Wi-Fi, Bluetooth, and cellular networks,
                as well as communication protocols and standards. Students learn
                about modulation techniques, multiplexing, signal propagation,
                channel coding, and error correction.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty-four">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty-four"
                aria-expanded="false"
                aria-controls="collapseTwenty-four"
              >
                Cloud Computing
              </button>
            </h2>
            <div
              id="collapseTwenty-four"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty-four"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Cloud Computing is a technology that enables users to access
                computing resources (such as servers, storage, databases, and
                software) over the internet on a pay-per-use basis. Key concepts
                in cloud computing include Infrastructure as a Service (IaaS),
                Platform as a Service (PaaS), and Software as a Service (SaaS).
                Students learn about virtualization, distributed computing,
                scalability, and elasticity.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwenty-five">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwenty-five"
                aria-expanded="false"
                aria-controls="collapseTwenty-five"
              >
                Compiler Design
              </button>
            </h2>
            <div
              id="collapseTwenty-five"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwenty-five"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Compiler Design is a computer science course that focuses on
                building compilers, which translate high-level programming
                languages into machine code. Topics include lexical and syntax
                analysis, semantic analysis, intermediate code generation,
                optimization, and code generation. Students learn about formal
                grammars, parsing techniques.
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div> -->

<body>
  <div class="scroll">
      <ul>
          <li> <img src="../../assets/images/C.jpg" alt=""> </li>
          <li> <img src="../../assets/images/c++.jpg" alt=""> </li>
          <li> <img src="../../assets/images/data structure.jpg" alt=""></li>
          <li><img src="../../assets/images/html.png" alt=""></li>
          <li><img src="../../assets/images/css.jpg" alt=""></li>
          <li><img src="../../assets/images/javascript.png" alt=""></li>
          <li><img src="../../assets/images/java.jpg" alt=""></li>
          <li><img src="../../assets/images/python.jpg" alt=""></li>

      </ul>
  </div>
</body>